h2 Loan History
table
	thead
		tr
			th Book
			th Patron 
			th Loaned on
			th Return by 
			th Returned on
			th Action
	tbody
		//- This commented out block is from 'patron_detail' page, the data works along w/ the code from patrons.js router.get('patron_detail/:id/edit') route.  Putting it here for reference when I get to this page.
		//- each loan, index in loans
		//- 	tr
		//- 		td
		//- 			a(href='book_detail') #{books[index].title}
		//- 		td
		//- 			a(href='javascript:window.location.reload(true)') #{patron.first_name} #{patron.last_name}
		//- 		td #{loans[index].dataValues.loaned_on}
		//- 		td #{loans[index].dataValues.return_by}
		//- 		td #{loans[index].dataValues.returned_on}
		//- 		td
		//- 			a.button(href='return_book' + loans.id) Return Book
		tr
			td
				a(href='javascript:window.location.reload(true)') #{book.title}
				//- a(href='book_detail' + book.id) #{book.title}
			td
				a(href='/patrons/patron_detail') Patron Name Here 
				//- #{book.book_id to get patron_id to get patron_name}  #{patron.first_name} #{patron.last_name} 
			td 2015-12-12
			td 2015-12-19
			td
			td
				//- if checked_out
				a.button(href='return_book') Return Book
