h2 Loan History
table
	thead
		tr
			th Book
			th Patron 
			th Loaned on
			th Return by 
			th Returned on
			th Action
	tbody
		if loans
			each loan, index in loans
				tr
					td
						a(href='javascript:window.location.reload(true)') #{book.title}
					td
						a(href='../../../patrons/patron_detail/' + patrons[index].dataValues.id + '/edit') #{patrons[index].dataValues.first_name} #{patrons[index].dataValues.last_name}
					td #{loans[index].dataValues.loaned_on}
					td #{loans[index].dataValues.return_by}
					td #{loans[index].dataValues.returned_on}
					td
						a.button(href='return_book' + loans.id) Return Book
