extends index

block content
  h1= title
  form(action='/library', method='post')
    p
      label(for='book_id') Book
      select#book_id
        if books
          each book in books
            option(value='#{book.book_id}') #{book.title}
            //- option(value='2') Harry Potter and the Chamber of Secrets
            //- option(value='3') Harry Potter and the Prisoner of Azkaban
            //- option(value='4') Harry Potter and the Goblet of Fire
            //- option(value='5') Harry Potter and the Order of the Phoenix
            //- option(value='6') Harry Potter and the Half-Blood Prince
            //- option(value='7') Harry Potter and the Deathly Hallows
            //- option(value='8') A Brief History of Time
            //- option(value='9') The Universe in a Nutshell
            //- option(value='10') Frankenstein
            //- option(value='11') The Martian
            //- option(value='12') Ready Player One
            //- option(value='13') Armada
            //- option(value='14') Pride and Prejudice
            //- option(value='15') Emma
    p
      label(for='patron_id') Patron
      select#patron_id
        if patrons
          each patron in patrons
            option(value='1') #{patron.first_name} #{patron.last_name}
            //- option(value='2') Dave McFarland
            //- option(value='3') Alena Holligan
            //- option(value='4') Michael Poley
    p
      label(for='loaned_on') Loaned on:
      input#loaned_on(type='text', value='Sun May 22 2016 17:00:00 GMT-0700 (PDT)', name='loaned_on')
    p
      label(for='return_by') Return by:
      input#return_by(type='text', value='Sun May 29 2016 17:00:00 GMT-0700 (PDT)', name='return_by')
    p
      input(type='submit', value='Create New Loan')
