extends index

block content
	h1= title
	
	include errors
	
	form(action='/loans/new_loan', method='post')
		p
			label(for='book_id') Book ID
			select#book_id(name='book_id')
				if books
					each book, index in books
						option(name='book_id') #{books[index].dataValues.title}
						//- This line only works w/ Loan.findAll() AND only load book titles that have loans, NOT ALL BOOK TITLES! #{loans[index].dataValues.book.dataValues.title}
		p
			label(for='patronId') Patron ID
			select#patron_id
				if loans
					each loan, index in loans
						//- option(name='patron_id') #{loans[index].dataValues.patron.dataValues.first_name} #{loans[index].dataValues.patron.dataValues.last_name}
		p
			label(for='loaned_on') Loaned on:
			input#loaned_on(type='text', name='loaned_on', value= today)
		p
			label(for='return_by') Return by:
			input#return_by(type='text', name='return_by', value= returnBy)
		p
			input(type='submit', value='Create New Loan')
