extends index

block content
	body
		h1 Patron: #{patron.first_name} #{patron.last_name}
		form
			include partials/patron_form
		h2 Loan History
		table
			thead
				tr
					th Book
					th Patron 
					th Loaned on
					th Return by 
					th Returned on
					th Action
			tbody
				tr
					td
						if books
							a(href='book_detail' + loans.id) #{books.title}
						td
							if patron
								a(href='patron_detail') #{patron.first_name} #{patron.last_name}
							if loans
						td #{loans.loaned_on}
						td #{loans.return_by}
						td #{loans.returned_on}
						td
							a.button(href='return_book' + loans.id) Return Book
